# General Config
DEVICE=cpu # or cuda if GPU available

# ASR Config
WHISPER_MODEL_SIZE=tiny # tiny, base, small, large-v3, large-v3-turbo
COMPUTE_TYPE=int8 # float16 works better, but only with GPU available

# Vector Config
VECTOR_COLLECTION_NAME=links
QDRANT_HOST=localhost
QDRANT_PORT=6333

# Embedder Config
EMBEDDING_MODEL=LaBSE