[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyterlab = "*"
ipywidgets = "*"
pandas = "*"
numpy = "*"
fireducks = "*"
transformers = "*"
faster-whisper = "*"
torch = "*"
tqdm = "*"
pyaudio = "*"
pvporcupine = "*"
webrtcvad = "*"
matplotlib = "*"
nvidia-cublas-cu11 = "*"
nvidia-cudnn-cu11 = "==8.9.6.50"
ctranslate2 = "*"
librosa = "*"
fastapi = "*"
uvicorn = "*"
qdrant-client = "*"
sentence-transformers = "*"
websockets = "*"
pydub = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.11"
