[
    {
        "ru": "Открой страницу Общая информация об предприятии Исток",
        "link": "https://istokmw.ru/about-us/general-information/"
    },
    {
        "ru": "Открой страницу Ценности предприятия Исток",
        "link": "https://istokmw.ru/values/"
    },
    {
        "ru": "Противодействие коррупции Исток",
        "link": "https://istokmw.ru/anti-corruption/"
    },
    {
        "ru": "Патенты и изобретения на предприятии Исток",
        "link": "https://istokmw.ru/patents-and-inventions/"
    },
    {
        "ru": "История предприятия Исток",
        "link": "https://istokmw.ru/history/"
    },
    {
        "ru": "Новости предприятия Исток",
        "link": "https://istokmw.ru/news/"
    }
]